<!doctype html>
<title>{% block title %}{% endblock %}</title>
<head>
<link rel="stylesheet" href="{{ url_for('static', filename='main.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>

<body class="d-flex flex-column h-100">
<main class="flex-shrink-0">
<div class="container">
  <ul>
    {% if g.user %}
      <li><span>{{ g.user.username }}</span>
      <li><a href="{{ url_for('user.logout') }}">Log Out</a>
    {% else %}
      <li><a href="{{ url_for('user.register') }}">Add account</a>
      <li><a href="{{ url_for('user.login') }}">Login</a>
    {% endif %}
  </ul>


  <header>
    {% block header %}{% endblock %}
  </header>
  {% for message in get_flashed_messages() %}
    <div class="flash">{{ message }}</div>
  {% endfor %}
  {% block content %}{% endblock %}
</div>
</main>

</body>