{% extends 'base.html' %}

{% block header %}
  <h1>{% block title %}Dodaj menu{% endblock %}</h1>
{% endblock %}

{% block content %}
{% from "_formhelpers.html" import render_field %}
  <form method="post">
    {{ render_field(form.day) }}
    {{ render_field(form.menu) }}
    {{ render_field(form.submit) }}
  </form>
{% endblock %}