{% extends 'base.html' %}

{% block header %}
  <h1>{% block title %}Dostępne karty menu: {% endblock %}</h1>
  {% if g.user %}
    <a class="btn btn-success" href="{{ url_for('menu.add') }}">Create</a>
  {% endif %}
{% endblock %}

{% block content %}
  {% for menu in menus %}
    <article class="post">
      <header>
        <div>
          <h1><a href="{{ url_for('menu.view', id=menu['id']) }}">{{ menu['day'] }}</a></h1>
          <div class="about">{{ menu.username }} &bull; Dodano: {{ menu.created.strftime('%Y-%m-%d') }}</div>
        </div>
        {% if g.user.id == menu.creator_id %}
          <a class="btn btn-primary" href="{{ url_for('menu.update', id=menu.id) }}">Edit</a>
        {% endif %}
      </header>
      <p class="body">{{ menu.menu }}</p>
    </article>
    {% if not loop.last %}
      <hr>
    {% endif %}
  {% endfor %}
{% endblock %}