{% extends 'base.html' %}

{% block header %}
  <h1>{% block title %} Menu: {% endblock %}</h1>
{% endblock %}

{% block content %}
    <article class="post">
      <header>
        <div>
          <h1>{{ menu['day'] }}</h1>
          <div class="about">{{ menu.username}} &bull; Created: {{ menu.created.strftime('%Y-%m-%d') }}</div>
        </div>
        {% if g.user['id'] == menu.creator_id %}
          <a class="btn btn-primary" href="{{ url_for('tournament.update', id=tournament.id) }}">Edit</a>
        {% endif %}
      </header>
      <p class="body">{{ menu.menu }}</p>
    </article>
      <hr>
{% endblock %}